@using ProductTrackingSystem.Entities.Concrete
@model Product

@{
    ViewBag.Title = "ProductDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Fashi Template">
    <meta name="keywords" content="Fashi, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fashi | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/fashi/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/fashi/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/fashi/css/themify-icons.css" type="text/css">
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/fashi/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/fashi/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/fashi/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/fashi/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/fashi/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/fashi/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    @*<div id="preloder">
        <div class="loader"></div>
    </div>*@

    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text product-more">
                        <a href="/Home/HomePage/"><i class="fa fa-home"></i> Ana Sayfa</a>
                        <a href="/Home/Index/">Ürünler</a>
                        <span>Ürün Detayı</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->
    <section class="product-shop spad page-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="product-pic-zoom">
                                <img class="product-big-img" src="@Model.ProductImage" alt="">
                                <div class="zoom-icon">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </div>
                            <div class="product-thumbs">
                                <div class="product-thumbs-track ps-slider owl-carousel">
                                    <div class="pt active" data-imgbigurl="@Model.ProductImage">
                                        <img src="@Model.ProductImage" alt="">
                                    </div>
                                    <div class="pt" data-imgbigurl="@Model.ProductImage">
                                        <img src="@Model.ProductImage" alt="">
                                    </div>
                                    <div class="pt" data-imgbigurl="@Model.ProductImage">
                                        <img src="@Model.ProductImage" alt="">
                                    </div>
                                    <div class="pt" data-imgbigurl="@Model.ProductImage">
                                        <img src="@Model.ProductImage" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="product-details">
                                <div class="pd-title">
                                    <span>Renk</span>
                                    <h3>@Model.ProductName</h3>
                                    <a href="#" class="heart-icon"><i class="icon_heart_alt"></i></a>
                                </div>
                                <div class="pd-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <span>(5)</span>
                                </div>
                                <div class="pd-desc">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur ing elit, sed do eiusmod tempor sum dolor
                                        sit amet, consectetur adipisicing elit, sed do mod tempor
                                        Açıklama
                                    </p>
                                    <h4>@Model.UnitPrice ₺ <span>@(Model.UnitPrice + 230) ₺</span></h4>
                                </div>
                                <div class="pd-color">
                                    <h6>Renk</h6>
                                    <div class="pd-color-choose">
                                        <div class="cc-item">
                                            <input type="radio" id="cc-black">
                                            <label for="cc-black"></label>
                                        </div>
                                        <div class="cc-item">
                                            <input type="radio" id="cc-yellow">
                                            <label for="cc-yellow" class="cc-yellow"></label>
                                        </div>
                                        <div class="cc-item">
                                            <input type="radio" id="cc-violet">
                                            <label for="cc-violet" class="cc-violet"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="quantity">
                                    @*<div class="pro-qty">
                                        <input type="text" value="1">
                                    </div>*@
                                    <a href="/ShoppingCart/AddCartProduct/@Model.ProductId" class="primary-btn pd-cart">Sepete Ekle</a>
                                </div>
                                <ul class="pd-tags">
                                    <li><span>Kategori</span>: @Model.Category.CategoryName</li>
                                </ul>
                                <div class="pd-share">
                                    <div class="p-code">Kod : 00012</div>
                                    <div class="pd-social">
                                        <a href="#"><i class="ti-facebook"></i></a>
                                        <a href="#"><i class="ti-twitter-alt"></i></a>
                                        <a href="#"><i class="ti-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-tab">
                        <div class="tab-item">
                            <ul class="nav" role="tablist">
                                <li>
                                    <a class="active" data-toggle="tab" href="#tab-1" role="tab">Açıklama</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#tab-2" role="tab">Özellikler</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#tab-3" role="tab">Müşteri Yorumu (2)</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-item-content">
                            <div class="tab-content">
                                <div class="tab-pane fade-in active" id="tab-1" role="tabpanel">
                                    <div class="product-content">
                                        <div class="row">
                                            <div class="col-lg-7">
                                                <h5>Introduction</h5>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                                    aliquip ex ea commodo consequat. Duis aute irure dolor in
                                                </p>
                                            </div>
                                            <div class="col-lg-5">
                                                <img src="@Model.ProductImage" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab-2" role="tabpanel">
                                    <div class="specification-table">
                                        <table>
                                            <tr>
                                                <td class="p-catagory">Müşteri Değerlendirmesi</td>
                                                <td>
                                                    <div class="pd-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <span>(5)</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="p-catagory">Fiyat</td>
                                                <td>
                                                    <div class="p-price">@Model.UnitPrice ₺</div>
                                                </td>
                                            </tr>
                                            @*<tr>
                                                <td class="p-catagory">Sepete Ekle</td>
                                                <td>
                                                    <div class="cart-add">+ Sepete Ekle</div>
                                                </td>
                                            </tr>*@
                                            <tr>
                                                <td class="p-catagory">Stok Adedi</td>
                                                <td>
                                                    <div class="p-stock">@Model.UnitsInStock</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="p-catagory">Ağırlık</td>
                                                <td>
                                                    <div class="p-weight">1,3kg</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="p-catagory">Beden</td>
                                                <td>
                                                    <div class="p-size">Xxl</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="p-catagory">Renk</td>
                                                <td><span class="cs-color"></span></td>
                                            </tr>
                                            <tr>
                                                <td class="p-catagory">Kod</td>
                                                <td>
                                                    <div class="p-code">00012</div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab-3" role="tabpanel">
                                    <div class="customer-review-option">
                                        <h4>2 Yorum</h4>
                                        <div class="comment-option">
                                            <div class="co-item">
                                                <div class="avatar-pic">
                                                    <img src="/AdminLTE-3.0.4/fashi/img/product-single/avatar-1.png" alt="">
                                                </div>
                                                <div class="avatar-text">
                                                    <div class="at-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                    <h5>Yorum Yapan Kişinin Adı <span>Tarih</span></h5>
                                                    <div class="at-reply">Yorum !</div>
                                                </div>
                                            </div>
                                            <div class="co-item">
                                                <div class="avatar-pic">
                                                    <img src="/AdminLTE-3.0.4/fashi/img/product-single/avatar-2.png" alt="">
                                                </div>
                                                <div class="avatar-text">
                                                    <div class="at-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                    <h5>Yorum Yapan Kişinin Adı <span>Tarih</span></h5>
                                                    <div class="at-reply">Yorum !</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="personal-rating">
                                            <h6>Sizin Dereceniz</h6>
                                            <div class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                        </div>
                                        <div class="leave-comment">
                                            <h4>Yorum Yap</h4>
                                            <form action="#" class="comment-form">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <input type="text" name="Name" placeholder="Ad">
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <input type="text" name="Email" placeholder="Email">
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <textarea placeholder="Yorumunuz"></textarea>
                                                        <button type="submit" class="site-btn">Gönder</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Js Plugins -->
    <script src="~/AdminLTE-3.0.4/fashi/js/jquery-3.3.1.min.js"></script>
    <script src="~/AdminLTE-3.0.4/fashi/js/bootstrap.min.js"></script>
    <script src="~/AdminLTE-3.0.4/fashi/js/jquery-ui.min.js"></script>
    <script src="~/AdminLTE-3.0.4/fashi/js/jquery.countdown.min.js"></script>
    <script src="~/AdminLTE-3.0.4/fashi/js/jquery.nice-select.min.js"></script>
    <script src="~/AdminLTE-3.0.4/fashi/js/jquery.zoom.min.js"></script>
    <script src="~/AdminLTE-3.0.4/fashi/js/jquery.dd.min.js"></script>
    <script src="~/AdminLTE-3.0.4/fashi/js/jquery.slicknav.js"></script>
    <script src="~/AdminLTE-3.0.4/fashi/js/owl.carousel.min.js"></script>
    <script src="~/AdminLTE-3.0.4/fashi/js/main.js"></script>
</body>

</html>




@*<div class="span9">
    <ul class="breadcrumb">
        <li><a href="/Home/Index">Anasayfa</a><span class="divider"></span></li>
        <li><a href="/Home/Index">Ürünler</a><span class="divider"></span></li>
        <li class="active">Ürün Detay</li>
    </ul>
</div>
<section>
    <div class="modal-body">
        <div class="col-md-5 modal_body_left">
            <img src="@Model.ProductImage" alt=" " class="img-responsive">
        </div>
        <div class="col-md-7 modal_body_right">
            <hr />
            <h4>@Model.ProductName</h4>
            <p>
                Açıklama
            </p>
            @using (Html.BeginForm("AddToCart", "Cart", new { @class = "form" }))
            {
                @Html.HiddenFor(x => x.ProductId)
                <div class="modal_body_right_cart simpleCart_shelfItem">
                    <p><i class="item_price">@Model.UnitPrice ₺</i></p>
                    <form action="#" method="post">
                        <button type="submit" class="w3ls-cart">Sepete EKLE</button>
                    </form>
                    <br />
                </div>

                <div class="color-quality">
                    <ul>
                        <h4>@Model.UnitsInStock Adet</h4>
                        <li><a href="#" class="white"><span></span></a></li>
                        <li><a href="#" class="black"><span></span></a></li>
                        <li><a href="#" class="blue"><span></span></a></li>
                        <li><a href="#" class="red"><span></span></a></li>
                    </ul>
                </div>
                <hr />
                <form action="/Home/Index" method="post">
                    <button type="submit" class="w3ls-cart btn btn-success"> ← Ürünlere Geri Dön</button>
                </form>
            }
        </div>
        <div class="clearfix"> </div>

    </div>
</section>*@

